<search></search>
<div>
  <div class="col-md-4">
    <h2>My list(s)
      <i *ngIf="isLoading">Loading myLists ... </i>
    </h2>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>QR Code</label>
    <img [src]="image" alt="QR Code">
  </div>
  <div class="col-md-4">
    Hosted by:
  </div>
  <div class="col-md-4">
    Buy me a coffee
  </div>
</div>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-sm-4">

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('id_list')}">
        <label class="center-block">List ID: </label>
        <input class="form-control" formControlName="id_list">
        <span class="error" *ngIf="getError('id_list')">{{getError('id_list')}}</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('id')}">
        <label class="center-block">Item ID: </label>
        <input class="form-control" formControlName="id">
        <span class="error" *ngIf="getError('id')">{{getError('id')}}</span>
      </div>

      <div *ngIf="images.controls.length > 0" id="itemImageCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <ng-container *ngFor="let image of images.controls; let idx = index" >
            <li data-target="#itemImageCarousel" data-slide-to="idx" [ngClass]="idx == '0' ? 'active' : ''"></li>
          </ng-container>
        </ol>
        <!--<ol class="carousel-indicators">-->
          <!--<li data-target="#itemImageCarousel" data-slide-to="0" class="active"></li>-->
          <!--<li data-target="#itemImageCarousel" data-slide-to="1"></li>-->
          <!--<li data-target="#itemImageCarousel" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <ng-container *ngFor="let image of images.controls; let idx = index" >
            <div [ngClass]="idx == '0' ? 'item active' : 'item'">
              <img ng-src="" alt="Cover Image" max="150px;" height="150px;" src="{{image.value}}">
            </div>
          </ng-container>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#itemImageCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#itemImageCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('name')}">
        <label class="center-block">Name: </label>
        <input class="form-control" formControlName="name">
        <span class="error" *ngIf="getError('name')">{{getError('name')}}</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error has-feedback': getError('description')}">
        <label class="center-block">Description: </label>
        <input class="form-control" formControlName="description">
        <span class="error" *ngIf="getError('name')">{{getError('description')}}</span>
      </div>

      <div *ngIf="mode == 'edit'" class="form-group" [ngClass]="{'has-error has-feedback': getError('order')}">
        <label class="center-block">Order: </label>
        <input class="form-control" formControlName="order">
        <span class="error" *ngIf="getError('order')">{{getError('order')}}</span>
      </div>

    </div>
  </div>

  <div *ngIf="mode == 'edit'" class="alert" [ngClass]="{'alert-success': feedback==='SUCCESS', 'alert-warning': feedback==='INVALID', 'alert-danger': feedback==='ERROR'}">
    <span *ngIf="feedback==='SUCCESS'"><strong>Success!</strong> Data saved.</span>
    <span *ngIf="feedback==='INVALID'"><strong>Validation error!</strong> Data validation failed.</span>
    <span *ngIf="feedback==='ERROR'"><strong>Error!</strong> Unknown server error.</span>
  </div>

  <nav *ngIf="mode == 'edit'" style="margin-bottom: 30px">
    <button type="submit" [disabled]="itemForm.pristine" class="btn btn-success">{{isNew? 'Add user' : 'Update'}}</button>
    <button *ngIf="!itemForm.pristine" type="reset" (click)="revert()" class="btn btn-primary">Revert</button>
    <a *ngIf="itemForm.pristine" routerLink="/myList/{{id_list}}/role/{{role}}">
      <button type="button" class="btn btn-primary">Back</button>
    </a>
  </nav>
</form>
