<h2>List list <i *ngIf="isLoading">Loading lists ... </i></h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>List ID</th>
    <th>First name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let list of lists | async" (click)="router.navigate(['/lists', list.id])">
    <td><a routerLink="/lists/{{list.id}}">{{list.name}}</a></td>
    <td>{{list.name}}</td>
  </tr>
  </tbody>
</table>
<nav>
  <a routerLink="/lists/new">
    <button class="btn btn-success">Add list</button>
  </a>
  <!--<button (click)="getLists()" class="btn btn-primary">Refresh list</button>-->
</nav>
