
<!-- as in https://bootsnipp.com/snippets/PbOjm -->
<!-- as in https://bootsnipp.com/snippets/dqb9 -->

<!-- TODO check http://www.advancesharp.com/blog/1211/angular-2-search-and-sort-with-ngfor-repeater-with-example -->
<h2>List Details</h2>
<div ng-controller="MainCtrl as ctrl">
  <form [formGroup]="myListForm" (ngSubmit)="onSubmit()" novalidate>
    <label>Details</label>
    <div class="row">
      <div class="form-group col-sm-3">
        <input class="form-control" formControlName="id">
      </div>
      <div class="form-group col-sm-3">
        <input class="form-control" formControlName="name">
      </div>
    </div>

    <label>Items</label>
    <div class="row">
      <div class="table-responsive col-md-12">
        <table formArrayName="items" class="grid table table-bordered table-sortable">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of myListForm.controls.items.controls | orderby : ['order']; let i = index">
            <td style="display: none;" formGroupName="{{i}}">
              <input type="hidden" class="form-control" formControlName="order">
            </td>
            <td formGroupName="{{i}}" class="form-group col-sm-3">
              <input class="form-control" formControlName="id">
            </td>
            <td formGroupName="{{i}}" class="form-group col-sm-3">
              <input class="form-control" formControlName="name">
            </td>
            <td formGroupName="{{i}}" class="form-group col-sm-2">
              <div class="input-group">
                <input type="number" class="form-control" formControlName="quantity">
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <nav style="margin-bottom: 30px">
      <button type="button" class="btn btn-primary" (click)="addRowItem()">Add row</button>
      <button type="submit" [disabled]="myListForm.pristine" class="btn btn-success">{{isNew? 'Add' : 'Update'}}
      </button>
      <button *ngIf="!myListForm.pristine" type="reset" (click)="revert()" class="btn btn-primary">Revert</button>
      <a *ngIf="myListForm.pristine" routerLink="/myLists">
        <button type="button" class="btn btn-primary">Back</button>
      </a>
    </nav>
  </form>
</div>
