<h2>List Details</h2>
<div ng-controller="MainCtrl as ctrl">
  <form [formGroup]="myListForm" (ngSubmit)="onSubmit()" novalidate>
    <input class="form-control" formControlName="id">
    <input class="form-control" formControlName="name">
    <div formArrayName="items">
      <label>Items</label>
      <div *ngFor="let item of myListForm.controls.items.controls; let i = index">
        <div formGroupName="{{i}}">
          <input class="form-control" formControlName="id">
          <input class="form-control" formControlName="name">
        </div>
      </div>
    </div>
  </form>
</div>
