<h2>My list(s)
  <i *ngIf="isLoading">Loading myLists ... </i>
</h2>
<search></search>
<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>First name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let myList of myLists">
    <td><a routerLink="/myList/{{myList.id}}">{{myList.id}}</a></td>
    <td>{{myList.name}}</td>
  </tr>
  </tbody>
</table>
<nav>
  <a routerLink="/myLists/new">
    <button class="btn btn-success">Add myList</button>
  </a>
  <!--<button (click)="getMyLists()" class="btn btn-primary">Refresh myList</button>-->
</nav>
